@media (min-width: 541px) and (max-width: 960px) {
    .home-title .home-title-1, .home-title .home-title-2
    {
        font-size: 46px;
    }
    .row-contact
    {
        display: flex;
        flex-direction: column;
    }
    .contact-left, .contact-right
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .left-info
    {
        margin: 70px 40px 40px;
    }
    .left-info .info-1
    {
        text-align: center;
        font-size: 14px;
    }
    .right-info
    {
        margin: 100px 1px 40px;
    }
    .right-info .right-inputs input
    {
        width: 100%;
        margin-bottom: 20px;
    }
    .right-info .right-textarea textarea
    {
        height: 200px;
        width: 100%;
    }
    .contact-btn
    {
        margin-bottom: 70px;
    }
    footer p
    {
        font-size: 20px;
    }
}


@media (max-width: 540px) {
    .home-title .home-title-1, .home-title .home-title-2
    {
        font-size: 30px;
    }
    .about-page-1 p
    {
        font-size: 22px;
        margin: 70px auto 25px;
    }
    .about-page-2 p
    {
        font-size: 15px;
        margin: 10px auto 50px;
    }
    .about-col-1
    {
        display: flex;
        flex-direction: column;
    }
    .col-1
    {
        margin: 1px auto 40px;
    }
    .col-img
    {
        order: 3;
        margin-bottom: 50px;
    }
    .title
    {
        font-size: 40px;
    }
    .title::after
    {
        font-size: 30px;
    }
    .row-contact
    {
        display: flex;
        flex-direction: column;
    }
    .contact-left, .contact-right
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .left-info
    {
        margin: 70px 40px 40px;
    }
    .left-info .info-1
    {
        text-align: center;
        font-size: 14px;
    }
    .right-info
    {
        margin: 100px 1px 40px;
    }
    .right-info .right-inputs input
    {
        width: 100%;
        margin-bottom: 20px;
    }
    .right-info .right-textarea textarea
    {
        height: 200px;
        width: 100%;
    }
    .contact-btn
    {
        margin-bottom: 70px;
    }
    footer p
    {
        font-size: 18px;
    }
}